<div class="">
<img src="/beer.png" id="intro-image" alt="Cheers">
</div>
<div> 
<a href="/beers" class="btn btn-primary btn-lg" style="background-color: #2081c3">Check the Beers!</a>
<a href="/random-beers" class="btn btn-primary btn-lg" style="background-color: #2081c3">Check a Random Beer</a>
</div>